{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

    <div id="state" class="state">
        <div>
            <span>Success</span>
        </div>
    </div>

    <section class="cart">

        <div class="sneakers">
            {% if sneakers | length > 0 %}
                {% for data in sneakers %}
                    <div class="sneaker-cart" {{ stimulus_controller('actions') }} {{ stimulus_target('actions', 'cart') }}>
                        <div class="sneaker-image">
                            <img src="" alt={{ data.sneaker.name }}/>
                        </div>
                        <div class="sneaker-infs">
                            <div class="details">
                                <div class="name">
                                    <a href={{ path('home') }}>{{ data.sneaker.name }}</a>
                                    <p>Taille : {{ data.sneaker.shoeSize }}</p>
                                    <p>Quantité : {{ data.quantity }}</p>
                                </div>
                                <div class="price">
                                    <span>{{ data.sneaker.price }} €</span>
                                </div>
                            </div>
                            <div class="actions">
                                <a>
                                    <i class="ri-heart-line"></i>
                                </a>
                                <a href="{{ path('cart.delete') }}" {{ stimulus_action('actions', 'deleteCart','click',{id:data.sneaker.id}) }}>
                                    <i class="ri-delete-bin-5-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    Aucune données
                </div>
            {% endif %}
        </div>

        <div class="resume-cart">
            <h2>Récapitulatif</h2>
            <div class="resume-details">
                <div class="">
                    <p class="">Total</p>
                    <p class="">{{ total }}</p>
                </div>
                <div class="resume-actions">
                    <a href={{ path('home') }}>Passer la commande</a>
                </div>
            </div>
        </div>

    </section>


{% endblock %}
