{% extends 'base.html.twig' %}

{% block title %}Sneakers Pluss{% endblock %}

{% block body %}

    <h1>Listes des marques</h1>

    <section class="main-brand-selected">

        {% for brand in brands %}
            <a href="{{ path('collections.index',{'brands[]' : brand.id}) }}">
                <div class="brand-card">
                    <div>
                        <img src=" {{ vich_uploader_asset(brand) }}" alt="{{ brand.name }} logo"/>
                    </div>
                    <div>
                        <span>{{ brand.name }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}

    </section>

    <h1>Nouveautés</h1>

    <section class="main-collection-news">

        {% for sneaker in sneakers %}
            <a href="{{ path('sneaker.show',{ slug : sneaker.slug }) }}">
                <div class="product">
                    <div class="product-image">
                        <img src=" {{ vich_uploader_asset(sneaker) }}" alt="{{ sneaker.name }} logo"/>
                    </div>
                    <div class="product-info">
                        <h4 class="product-title"> {{ sneaker.name }}</h4>
                        <p class="product-price">{{ sneaker.price }} €</p>
                    </div>
                </div>
            </a>
        {% endfor %}

    </section>

{% endblock %}
