{{ form_start(form) }}

<div class="my-4">
    {{ form_label(form.name,null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'}}) }}
    <div class="relative">
        {{ form_widget(form.name) }}
    </div>
</div>

<div class="my-4">
    {{ form_label(form.model,null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'}}) }}
    <div class="relative">
        {{ form_widget(form.model) }}
    </div>
</div>


<div class="grid gap-6 mb-6 md:grid-cols-2">
    <div class="">
        {{ form_label(form.shoe_size,null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'}}) }}
        <div class="relative">
            {{ form_widget(form.shoe_size) }}
        </div>
    </div>
    <div class="">
        {{ form_label(form.stock,null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'}}) }}
        <div class="relative">
            {{ form_widget(form.stock) }}
        </div>
    </div>
    <div class="">
        {{ form_label(form.color,null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'}}) }}
        <div class="relative">
            {{ form_widget(form.color) }}
        </div>
    </div>
    <div class="">
        {{ form_label(form.release_date,null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'}}) }}
        <div class="relative">
            {{ form_widget(form.release_date) }}
        </div>
    </div>
</div>
<div class="my-4">
    {{ form_label(form.details,null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'}}) }}
    <div class="relative">
        {{ form_widget(form.details) }}
    </div>
</div>

<div class="my-4">
    {{ form_label(form.price,null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'}}) }}
    <div class="relative">
        {{ form_widget(form.price) }}
    </div>
</div>

<div class="my-4" {{ stimulus_controller('sneakers') }}>
    {{ form_label(form.images,null, {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'}}) }}
    {{ form_widget(form.images) }}
    <p class="mt-1 text-sm text-gray-900 text-left" id="file_input_help">SVG, PNG, JPG or GIF.</p>
    <div class="grid grid-cols-4 gap-4 " {{ stimulus_target('sneakers', 'images') }}></div>

    {% if app.request.attributes.get('_route') == 'admin.sneaker.edit' %}
        <h4 class="text-center">Images : </h4>
        <div class="grid grid-cols-4 gap-4 ">
            {% for img in sneaker.images %}
                <div class="relative">
                    <img src="{{ vich_uploader_asset(img) }}" alt="sneaker " />

                    <a href="{{ path('admin.sneaker.deleteImage',{id: img.id}) }}" {{ stimulus_action('sneakers', 'deleteImage') }}
                            data-token="{{ csrf_token('delete' ~ img.id  ) }}"
                            class="absolute top-0 right-0 text-white bg-red-700 hover:bg-white hover:text-red-700 hover:ring-1 hover:ring-red-700 rounded-full p-2 mr-2 mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>

<button
        type="submit"
        class="block w-full rounded-lg bg-green-700 px-5 py-3 text-sm font-medium text-white"
>
    {{ button_label|default('Ajouter') }}
</button>
<a
        href="{{ path("admin.sneaker.index") }}"
        class="block w-full rounded-lg bg-red-700 text-center my-4 px-5 py-3 text-sm font-medium text-white"
>
    Retour
</a>

{{ form_end(form) }}
