<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{% block title %}Sneakers Pluss{% endblock %}</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />


    <link rel="apple-touch-icon" sizes="180x180" href={{ asset("ico/apple-touch-icon.png") }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ asset("ico/favicon-32x32.png") }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ asset("ico/favicon-16x16.png") }}>
    <link rel="manifest" href={{ asset("ico/site.webmanifest") }}>





    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
    <body>
        {% include('header.html.twig') %}
        <main class="container">
            {% block body %}{% endblock %}
        </main>
        {% include('footer.html.twig') %}

        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
