<header>
    <nav {{ stimulus_controller('menu') }} >
        <a href="{{ path('home') }}" class="logo">
            <img src="{{ asset('images/logo.svg') }}" alt="logo Sneaker Pluss"/>
        </a>

        <div class="menu" {{ stimulus_target('menu', 'menu') }}>
            <ul class="nav-menu">
                <li>
                    <a href="{{ path('home') }}" class="active">Acceuil</a>
                </li>
                <li>
                    <a href="{{ path('collections.index') }}">Sneakers </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <a href="{{ path('customer.profile') }}">
                <i class="ri-user-fill"></i>
            </a>
            <a href="{{ path('cart') }}">
                <i class="ri-shopping-cart-2-fill"></i>
            </a>
            <a href="{{ path('favorites') }}">
                <i class="ri-heart-line"></i>
            </a>
            <div class="ri-menu-line"
                 id="menu-icon" {{ stimulus_action('menu', 'open', 'click') }} {{ stimulus_target('menu', 'button') }}></div>
        </div>
    </nav>
</header>