<div id="filters-form" class="filters-form" {{ stimulus_target('modal', 'modal') }}>
    <button class="close" id="closeFilterModalbtn" {{ stimulus_action('modal', 'close','click') }}>
        <i class="ri-close-circle-fill"></i>
    </button>
    <div class="filter-body">

        <h3>Filtre</h3>

        {{ form_start(filter) }}

        {#            <div class="accordion" {{ stimulus_controller('accordion') }}> #}
        {#                <div class="accordion-head" {{ stimulus_action('accordion', 'hide','click') }}> #}
        {#                    <span>Trier par </span> #}
        {#                    <i class="ri-arrow-down-s-line" {{ stimulus_target('accordion', 'state') }}></i> #}
        {#                </div> #}
        {#                <div class="accordion-body" {{ stimulus_target('accordion', 'output') }}> #}
        {#                    <div class="sort-filter"> #}
        {#                        <select name="sort-by"> #}
        {#                            <option value="0">En vedette</option> #}
        {#                            <option value="1">Les plus récents</option> #}
        {#                            <option value="2">Prix : décroissant</option> #}
        {#                            <option value="2">Prix : croissant</option> #}
        {#                        </select> #}
        {#                    </div> #}
        {#                </div> #}
        {#            </div> #}

        <div class="accordion" {{ stimulus_controller('accordion') }}>
            <div class="accordion-head" {{ stimulus_action('accordion', 'hide','click') }}>
                <span>Marques </span>
                <i class="ri-arrow-down-s-line" {{ stimulus_target('accordion', 'state') }}></i>
            </div>
            <div class="accordion-body" {{ stimulus_target('accordion', 'output') }}>
                <div id="brands">
                    {% for checkbox  in filter.brands %}
                        <label>
{#                            <input type="checkbox" value="{{ value }}" />#}
{#                            {{ label }}#}
                            {{ form_widget(checkbox) }} {{ checkbox.vars.label }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="accordion" {{ stimulus_controller('accordion') }}>
            <div class="accordion-head" {{ stimulus_action('accordion', 'hide','click') }}>
                <span>Taille </span>
                <i class="ri-arrow-down-s-line" {{ stimulus_target('accordion', 'state') }}></i>
            </div>
            <div class="accordion-body" {{ stimulus_target('accordion', 'output') }}>
                {{ form_label(filter.size) }}
                {{ form_widget(filter.size) }}
            </div>
        </div>

        <div class="filter-action">
            <button type="submit" class="">Appliquer</button>
        </div>

        {{ form_end(filter) }}

    </div>
</div>