{% if pageCount > 1 %}
    <div class="pagination">
        <ul>
            {% if first is defined and current != first %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                        <i class="ri-arrow-left-double-line"></i>
                    </a>
                </li>
            {% endif %}

            {% if previous is defined %}
                <li>
                    <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                        <i class="ri-arrow-left-s-line"></i>
                    </a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li>
                        <a class="current" href="#">
                            {{ page }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <li>
                    <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                        <i class="ri-arrow-right-s-line"></i>
                    </a>
                </li>
            {% endif %}

            {% if last is defined and current != last %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">
                        <i class="ri-arrow-right-double-fill"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
