{% extends 'base.html.twig' %}

{% block title %}
    Liste des favoris
{% endblock %}

{% block body %}

    <div id="state" class="state">
        <div>
            <span>Success</span>
        </div>
    </div>

    <section class="favorites">
        <h1>Favoris</h1>

        {% if sneakers | length > 0 %}
            <div class="sneakers" {{ stimulus_controller('actions') }}  {{ stimulus_target('actions', 'reset') }}>
                {% for sneaker in sneakers %}
                    <div class="snkr" {{ stimulus_target('actions', 'cart') }}>
                        <a class="delete-fav" href="{{ path('favorites.remove') }}" {{ stimulus_action('actions', 'deleteSneaker','click',{id:sneaker.id}) }}>
                            <i class="ri-delete-bin-fill"></i>
                        </a>
                        <a href="{{ path('sneaker.show',{ slug : sneaker.slug }) }}">
                            <div class="product">
                                <div class="product-image">
                                    <img src=" {{ vich_uploader_asset(sneaker) }}" alt="{{ sneaker.name }} logo"/>
                                </div>
                                <div class="product-info">
                                    <h4 class="product-title"> {{ sneaker.name }}</h4>
                                    <p class="product-price">{{ sneaker.price }} €</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <div class="clear">
                    <a href="{{ path('favorites.clear') }}" {{ stimulus_action('actions', 'clearSneaker','click',{token:csrf_token('clear') }) }} >
                        Vider la liste des favoris
                    </a>
                </div>
            </div>
        {% else %}
            <div class="nothing">
                <h3>Votre liste de favoris est tristement vide.</h3>
            </div>
        {% endif %}
    </section>


{% endblock %}
